In [1]:
import pandas as pd

from src import config
from src.metadata.metadata_process import process_metadata

df = pd.read_csv(config.METADATA_CSV)
df

,Nro de participante,Grupo,Clasificación de caso,Comentario (tipo de caso o criterio de exclusión),ID participante,Fecha,Hora,Neuropsicol.,EyeTracker,Género,...,TMT B papel errores,TMT B (papel) Z,Digit Symbol pb,Digit - symbol Z,Span directo pb,Span directo Z,span inverso pb,Span inverso z,Reloj / 3,Años de escolaridad
0,Control =,43,NaN,NaN,NaN,NaN,NaN,F =,NaN,72,...,NaN,-0.11,NaN,0.60,NaN,-0.28,NaN,-0.17,2.68,NaN
1,Caso =,53,NaN,NaN,NaN,NaN,NaN,M =,NaN,24,...,NaN,1.32,NaN,1.01,NaN,0.85,NaN,0.70,0.57,NaN
2,1,Control,NaN,*,946462,22/1/2024,14:30,Betsabé,Gus,F,...,NaN,1.36,63,0.00,6.0,-0.17,4.0,-0.60,2.00,18.0
3,2,Control,NaN,*,2684844,22/1/2024,15:00,Betsabé,Gus,M,...,NaN,0.85,36,0.67,6.0,0.07,5.0,0.5,3.00,16.0
4,3,Caso,DCL MD no amnesico,NaN,6305,22/1/2024,15:30,Laura,Gus,F,...,NaN,0.40,45,0.33,5.0,0.64,4.0,0.21,3.00,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,caso,DCL no amnesico,NaN,2302423,7/10/2024,13hs,Betsabe,Alejandro,F,...,2 errores,"0,64",28,"0,00",7.0,"1,58",4.0,"0,80",3.00,12.0
98,98,caso,DCL no amnesico,NaN,3104154,21/10/2024,13hs,Betsabe,Alejandro,F,...,4 errores,"0,19",46,"1,00",5.0,"-0,08",4.0,"0,80",3.00,15.0
99,99,caso,DCL no amnesico,NaN,2486596,21/10/2024,1:15:00 p.m.,Betsabe,Alejandro,F,...,NaN,"0,92",42,"0,67",6.0,"0,75",6.0,"2,80",3.00,18.0
100,100,control,NaN,NaN,22945,11/11/2024,13hs,Betsabe,Alejandro,M,...,-,"1,08",40,"0,67",8.0,"2,42",5.0,"1,80",3.00,18.0
101,101,control,NaN,NaN,3715972,11/11/2024,13:30hs,Betsabe,Alejandro,F,...,NaN,"0,57",36,"0,67",5.0,"-0,82",3.0,"-1,21",3.00,18.0

In [2]:
pm = process_metadata(df)
pm

   subject_id sex  age group
0        0001   F   52    HC
1        0002   M   78    HC
2        0003   F   68   MCI
3        0004   F   80   MCI
4        0005   F   87   MCI
..        ...  ..  ...   ...
95       0097   F   75   MCI
96       0098   F   70   MCI
97       0099   F   71   MCI
98       0100   M   76    HC
99       0101   F   71    HC

[100 rows x 4 columns]